<footer class="footer">
    <div class="footer__container footer__container_bg-color_darkblue">
        <div class="container footer__row">
            <div class="footer__col">
                <nav class="nav footer__nav">
                    <ul class="nav__list">
                        <li class="nav__item footer__item">
                            <a href="#" class="nav__link nav__link_active">
                                Terms & Conditions
                            </a>
                        </li>
                        <li class="nav__item footer__item">
                            <a href="#" class="nav__link">
                                Cookies
                            </a>
                        </li>
                        <li class="nav__item footer__item">
                            <a href="#" class="nav__link">
                                Contacts
                            </a>
                        </li>
                        <li class="nav__item footer__item">
                            <a href="#" class="nav__link">
                                Careers
                            </a>
                        </li>
                        <li class="nav__item footer__item">
                            <a href="#" class="nav__link">
                                Brand Guide
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col footer-social">
                <span class="footer-social__title">
                    Our social media:
                </span>
                <ul class="footer-social__list">
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-twitter">
                                <use xlink:href="images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-facebook">
                                <use xlink:href="images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-instagram">
                                <use xlink:href="images/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-linkedin">
                                <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-youtube">
                                <use xlink:href="images/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-tiktok">
                                <use xlink:href="images/sprite.svg#icon-tiktok"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-telegram">
                                <use xlink:href="images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <svg role="img" class="icon-vk">
                                <use xlink:href="images/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>