<header class="header menu-mobile menu-mobile_close">
    <div class="container">
        <div class="header__row">
            <div class="header__col">
                <a class="logo header__logo">
                    <img src="images/logo-desctop.png" class="logo__img logo__img_desctop" alt="logo">
                    <img src="images/logo-mobile.png" class="logo__img logo__img_mobile" alt="logo">
                </a>
                <button class="menu-mobile__toggler">
                    <svg role="img" class="icon-menu">
                        <use xlink:href="images/sprite.svg#icon-menu"></use>
                    </svg>
                    <svg role="img" class="icon-close">
                        <use xlink:href="images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="header__col menu-mobile__list">
                <nav class="nav header__nav">
                    <ul class="nav__list header__list">
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                About us
                            </a>
                        </li>
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                Brands
                            </a>
                        </li>
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                Commissions
                            </a>
                        </li>
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                News
                            </a>
                        </li>
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                Contact us
                            </a>
                        </li>
                        <li class="nav__item header__item menu-mobile__item">
                            <a href="#" class="nav__link header__link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__col header__buttons menu-mobile__list">
                <a href="#" class="header__btn header__btn_lang header__btn_lang_en btn btn_size_s btn_border_purple">
                    <svg role="img" class="btn__icon btn__icon_purple icon-globus">
                        <use xlink:href="images/sprite.svg#icon-globus"></use>
                    </svg>
                    <span class="btn__text btn__text_hide_xs">
                        EN
                    </span>
                </a>
                <a href="#" class="header__btn menu-mobile__item btn btn_size_s btn_border_purple">
                    <span class="btn__text">
                        LOG IN
                    </span>
                </a>
                <a href="#" class="header__btn menu-mobile__item btn btn_size_s btn_fill_blue">
                    <span class="btn__text">
                        SIGN UP
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>