<main class="main main_bg_ellipse main_bg_circle">
    <div class="container">
        <div class="main__row">
            <div class="main__col">
                <h1 class="main__title">
                    <span class="title title_size_h1 title_text-align_left title_text-align_center_xs title_color_white">
                        HOUSE OF
                    </span>
                    <span class="title title_size_h1 title_text-align_left title_text-align_center_xs title_color_blue">
                        GAMBLING
                    </span>
                </h1>
                <h4 class="main__subtitle subtitle subtitle_text-align_center_xs subtitle_color_white_60">
                    Raise your ROI with direct advertiser
                </h4>
                <a href="#" class="main__btn btn btn_size_m btn_fill_blue">
                    Become a Partner
                </a>
            </div>
            <div class="main__col main__banner main__banner_mask">
                <div class="banner">
                    <div class="banner__col banner__col_bg_1"></div>
                    <div class="banner__col banner__col_bg_2"></div>
                    <div class="banner__col banner__col_bg_3"></div>
                </div>
            </div>
            <div class="main__col">
                <div class="blog">
                    <h2 class="title title_size_h2 title_color_white title_text-align_center">
                        BLOG
                    </h2>
                    <div class="scrollbar-inner">
                        <div class="scrollbar-external">
                            <ul class="blog__list">
                                <li class="blog__item">
                                    <a href="#" class="blog__link blog__link_active" target="_blank">
                                        <p class="blog__text text text_size_middle text_color_white">
                                            Payment methods: Skrill, Neteller, webmoney, Bank transfer
                                        </p>
                                        <span class="blog__date text text_size_small text_color_white_60">
                                            10.02.2023
                                        </span>
                                    </a>
                                </li>
                                <li class="blog__item">
                                    <a href="#" class="blog__link" target="_blank">
                                        <p class="blog__text text text_size_middle text_color_white">
                                            Payment methods: Skrill, Neteller, webmoney, Bank transfer
                                        </p>
                                        <span class="blog__date text text_size_small text_color_white_60">
                                            10.02.2023
                                        </span>
                                    </a>
                                </li>
                                <li class="blog__item">
                                    <a href="#" class="blog__link" target="_blank">
                                        <p class="blog__text text text_size_middle text_color_white">
                                            Payment methods: Skrill, Neteller, webmoney, Bank transfer
                                        </p>
                                        <span class="blog__date text text_size_small text_color_white_60">
                                            10.02.2023
                                        </span>
                                    </a>
                                </li>
                                <li class="blog__item">
                                    <a href="#" class="blog__link" target="_blank">
                                        <p class="blog__text text text_size_middle text_color_white">
                                            Payment methods: Skrill, Neteller, webmoney, Bank transfer
                                        </p>
                                        <span class="blog__date text text_size_small text_color_white_60">
                                            10.02.2023
                                        </span>
                                    </a>
                                </li>
                                <li class="blog__item">
                                    <a href="#" class="blog__link" target="_blank">
                                        <p class="blog__text text text_size_middle text_color_white">
                                            Payment methods: Skrill, Neteller, webmoney, Bank transfer
                                        </p>
                                        <span class="blog__date text text_size_small text_color_white_60">
                                            10.02.2023
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="external-scroll_y">
                            <div class="scroll-element_outer">
                                <div class="scroll-element_size"></div>
                                <div class="scroll-element_track"></div>
                                <div class="scroll-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>